.title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    align-self: flex-start;
    color: #ffe135;
    padding: 1.0rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
